
body {
    background-color: #FFD999;
    color: #8C5400;
}

.titlebar{
    background-color:#8C5400;
}

.button{
    background-color: #8C5400;
    border: none;
    border-radius: 4px;
    color: #FFD999;
    padding: 2px 15px 2px 15px;
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.left-button{
    background-color: #8C5400;
    border: none;
    border-radius: 4px;
    color: #FFD999;
    padding: 2px 15px 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.message{
    background-color: black;
    width: 100%
    text-align: center;
    border: none;
    padding: none;
    color: #FFD999

}