<!DOCTYPE html>


<html>

    <head>
        <title>Les Petits Restaurants</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/styles.css">
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    </head>


    <body>
        <div class="titlebar">
            <a href="/restaurants/">
            <img src="/static/images/title.jpg" height='60' width='210'></a>
        </div>

{% with messages = get_flashed_messages() %}
    {% if messages %}

            {% for message in messages %}
            <div class="message">{{message}}</div>
            {% endfor %}

    {% endif %}
{% endwith %}
<br>
<br>
<br>

        {% block content%}
        {% endblock %}

    </body>

</html>