{% extends "base.html"%}

{% block content %}

<h1>{{restaurant.name}}</h1>

    
{% for item in items %}
<div class="menu-name">{{item.name}}:</div>
<div class="menu-description">{{item.description}}</div>
<div class="menu-price">{{item.price}}</div>
<div class="menu-edit"><a href='{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}'>Edit</a></div>
<div class="menu-delete"><a href='{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}'>Delete</a></div>
<br>
{% endfor %}

<p>{{nullMessage}}</p>




<a href='{{url_for('newMenuItem',restaurant_id=restaurant.id)}}' class="button">Add <br> Menu Item</a>

{% endblock %}
