{% extends "base.html" %}

{% block content %}

<h1>Create a new menu item for {{restaurant.name}}</h1>

<form action="{{url_for('newMenuItem',restaurant_id=restaurant_id)}}" method="post">
<table>
<tr>
    <td>
        Name:
    </td>
    <td>
        <input type="text" size="30" name="name"></input>
    </td>    
</tr>    

<tr>
    <td>    
        Description:
    </td>
    <td>
        <textarea type="text" size="60" style="height:200px;width:185px;" name="description"></textarea>
    </td>    
</tr>

<tr>
    <td>    
        Price:
    </td>
    <td>
        <input type="text" size="15" name="price"></input>
    </td>    
</tr>

</table>
    <input type="submit" class="left-button" value="Save"></input>
    <a href="{{url_for('showMenu',restaurant_id=restaurant_id)}}" class="button">Cancel</a>

</form>




{% endblock %}
