{% extends "base.html" %}

{% block content %}

<h1>Create a new menu item for {{restaurant.name}}</h1>

<form action="{{url_for('newMenuItem',restaurant_id=restaurant_id)}}" method="post">

<p>Name:</p>
    <input type="text" size="30" name="name"></input>
    <br>

<p>Description:</p>
    <input type="text" size="60" style="height:200px;" name="description"></input>
    <br>

<p>Price:</p>
    <input type="text" size="15" name="price"></input>
    <br>

    <input type="submit" class="left-button" value="Save"></input>
    <a href="{{url_for('showMenu',restaurant_id=restaurant_id)}}" class="button">Cancel</a>

</form>




{% endblock %}
