{% extends "base.html" %}

{% block content %}


{% for restaurant in restaurants %}

    <div class="resto-name">{{restaurant.name}}</div>
    <div class="resto-menu"><a href='{{url_for('showMenu', restaurant_id=restaurant.id)}}'>Menu</a></div>
    <div class="resto-edit"><a href='{{url_for('editRestaurant', restaurant_id=restaurant.id)}}'>Edit</a></div> 
    <div class="resto-delete"><a href='{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}'>Delete</a></div>
    <br><br>

    {% endfor %}


<a href="/restaurant/new/" class="button">Add <br>restaurant</button>


{% endblock %}